<!-- <ion-header >
    <ion-toolbar>
        <ion-title>CDays</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content class="background-work">
    <ion-card class="welcome-card">
        <img src="../../../assets/cdayslogo.PNG">
        <ion-card-header style="background-color: transparent">
            <ion-card-title style="text-align: center;color: white">Welcome To CDays</ion-card-title>
            <ion-card-subtitle style="text-align: center;color: white">Manage your Events...:)</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
            <p>We Have Many More Options And Things For You To Arrange Your Events Go Ahead And Check..</p>
        </ion-card-content> -->
    </ion-card>
</ion-content>
<ion-footer>
    <!-- <ion-toolbar> -->
        <ion-row>
            <ion-col>
                <ion-button class="primary" expand="full" (click)="login()" block outline>Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="full" (click)="register()" round outline>Register</ion-button>
            </ion-col>
        </ion-row>
    <!-- </ion-toolbar> -->
</ion-footer>