<ion-header>
    <ion-toolbar>
        <ion-title>change-password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background-work">
    <form [formGroup]="changePassowrdForm" class="example-form">

            <mat-form-field class="example-full-width">
                    <input matInput placeholder="Old Password" formControlName="OldPassword">
                    <mat-error *ngIf="changePassowrdForm.controls['OldPassword'].errors?.required">This field is mandatory.</mat-error>
                </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="New password" formControlName="password">
            <mat-error *ngIf="changePassowrdForm.controls['OldPassword'].errors?.required">This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error *ngIf="changePassowrdForm.controls['confirmPassword'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="changePassowrdForm.controls['confirmPassword'].errors?.mustMatch">Passwords must match.</mat-error>
        </mat-form-field>
        <ion-button type="submit" expand="full" color="primary">Save</ion-button>
    </form>
</ion-content>