<!-- <ion-header>
  <ion-toolbar>

</ion-header> -->
<ion-toolbar>
  <!-- <ion-searchbar [(ngModel)]="search_string" showCancelButton="focus" animated   (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">></ion-searchbar> -->
</ion-toolbar>

<ion-content>



  <ion-list>
    <ion-item *ngFor="let contact of contactList">
      <ion-label>
      <h2>{{contact.name}}</h2>
      <p>{{contact.number}}</p>
      </ion-label>
      <ion-checkbox slot="end"  checked={{contact.select}} (tap)="choosecontact(contact)" ></ion-checkbox>
    </ion-item>
  
    
 
  </ion-list>
</ion-content>
